.Header {
    /* border: 1px solid violet; */
    background-image: url(/public/images/sj-logo-banner.png);
    background-repeat: no-repeat;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0;
    /* position: relative; */
}

.header-name {
    
    margin-left: 170px;
    /* border: 1px solid magenta; */
    text-align: center;
}

.header-name h1 {
    font-family: Mahogany;
    font-size: 40px;
    /* border: 1px solid blue; */
    margin: 0;
    white-space: nowrap;
}

.header-name p {
    margin: 0%;
    font-style:italic;
    font-weight: bold;
}

#header-options {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
}

#header-options li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    /* border: 1px solid red */
}

#header-options li a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
    transition: 0.3s ease-in-out;
}

#header-options li a:hover,
#header-options li a.active {
    color: rgb(143, 133, 0);
}

#header-options li a:hover::after,
#header-options li a.active::after {
    content: "";
    width:30%;
    height: 2px;
    background-color: rgb(143, 133, 0);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
}

#mobile i{
    align-items: center;
}

@media screen and (max-width: 991px) {

    #header-options {
        /* display: flex; */
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        /* position: fixed; */
        position: absolute;
        top: 85px;
        right: -400px;
        width: 300px;
        /* height: 100vh; */
        background: rgb(235, 235, 149);
        box-shadow: 0 40px 60px black;
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;

    }

    #header-options.active {
        right: 0;
        display: flex;
    }

    #header-options li {
        margin-bottom: 25px;

    }

    #mobile {
        display: block;
    }

    #mobile i {
        font-size: 24px;
        cursor: pointer;
        margin-right: 30px;
    }

}

@media screen and (max-width: 500px) {
    .header-name {
        display: none;
    }
}